{% load fortune_extras i18n %}

<article class="fortune" id="fortune_{{ fortune.pk }}">
    <h2>
        <a href="{{ fortune.get_absolute_url }}" title="{{ fortune.title }}">#{{ fortune.id }}. {{ fortune.title }}</a>
    </h2>
    <blockquote>
        {{ fortune.content|fortunize|safe }}
        <br/>
    </blockquote>
    <aside>
        <p class="fortune-infos">
            {% blocktrans with fortune.author as author and fortune.pub_date|timesince as pub_date %}Posted by <strong>{{ author }}</strong> {{ pub_date }} ago.{% endblocktrans %}
            <span class="fortune-actions">
                <strong>{% blocktrans with fortune.votes as votes %}{{ votes }} votes{% endblocktrans %}</strong>
                <a href="{% url fortune_vote fortune.pk "down" %}" title="Vote down this fortune">-</a> / 
                <a href="{% url fortune_vote fortune.pk "up" %}" title="Vote up this fortune">+</a> 
            </span>
        </p>
    </aside>
</article>