{% extends 'base.html' %}

{% block title %}Fortune #{{ fortune.id }}{% endblock %}

{% block content %}
    {% with fortune as fortune %}
        {% include "partials/fortune.html" %}
    {% endwith %}
    <h3>Comments</h3>
    {% if comments %}
    <ul class="fortune-comments">
    {% for comment in comments %}
        <li id="c_{{ comment.id }}">
            <blockquote>
                {{ comment.content }}
            </blockquote>
            <p>
                Posted by {{ comment.author }} {{ comment.pub_date|timesince }} ago
            </p>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No comment yet</p>
    {% endif %}
    <h3>Add a comment</h3>
    <form method="POST" action="{% url fortune-detail fortune.id %}">
        {% csrf_token %}
        <table>
            {{ commentForm }}
            <tr>
                <td></td>
                <td><input type="submit"/></td>
            </tr>
        </table>
    </form>
    <p>
        Back to <a href="{% url fortunes-index "" %}">fortunes list</a> |
        <a href="{% url fortune-new %}">Add a fortune</a>
    </p>
{% endblock content %}