{% extends 'base.html' %}

{% load i18n comments %}

{% block title %}Fortune #{{ fortune.id }}{% endblock %}

{% block content %}
    {% with fortune as fortune %}
        {% include "partials/fortune.html" %}
    {% endwith %}
    
    <section class="fortune-comments">
        <div class="comments-block">
            <h3>{% trans "Comments" %}</h3>
            {% get_comment_list for fortune as comments %}
            {% if comments %}
                {% for comment in comments %}
                <article class="fortune-comment" id="c_{{ comment.id }}">
                    <blockquote>
                        {{ comment.comment }}
                    </blockquote>
                    <p>
                        {% blocktrans with comment.user_name as user_name and comment.submit_date|timesince as submit_date %}
                            Posted by {{ user_name }} {{ submit_date }} ago
                        {% endblocktrans %}
                    </p>
                </article>
                {% endfor %}
            {% else %}
                <p>{% trans "No comment yet" %}</p>
            {% endif %}
        </div>
    </section>
    
    <section class="fortune-comment-form">
        {% get_comment_form for fortune as form %}
        <table>
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                {{ form }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" class="submit-post" value="{% trans "Submit" %}"></td>
                    <input type="hidden" name="next" value="{{ fortune.get_absolute_url }}" />
                </tr>
            </form>
        </table>
    </section>
    
    <aside class="fortune-context-actions">
        <nav>
            <p>
                {% trans "Back to" %} <a href="{% url fortune_index %}">{% trans "Fortunes list" %}</a> |
                <a href="{% url fortune_new %}">{% trans "Add a new fortune" %}</a>
            </p>
        </nav>
    </aside>
{% endblock content %}