{% extends 'base.html' %}

{% block title %}Fortunes list{% endblock %}

{% block content %}
{% if fortunes %}
    <ul class="fortunes">
    {% for fortune in fortunes.object_list %}
        <li class="fortune">
            <h3>
                <a href="{% url fortune-detail fortune.id %}">{{ fortune.title }}</a>
                <small><sup>{{ fortune.votes }} vote(s)</sup></small>
            </h3>
            <p>
                Posted by {{ fortune.author }}, {{ fortune.pub_date|timesince }} ago
            </p>
            <blockquote>
                {{ fortune.content }}
            </blockquote>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fortunes are available.</p>
{% endif %}

<ul class="pagination">
    {% if fortunes.has_previous %}
    <li>
        <a href="?page={{ fortunes.previous_page_number }}">previous</a>
    </li>
    {% endif %}
    <li>    
        Page {{ fortunes.number }} of {{ fortunes.paginator.num_pages }}.
    </li>
    {% if fortunes.has_next %}
    <li>
        <a href="?page={{ fortunes.next_page_number }}">next</a>
    </li>
    {% endif %}
</ul>
{% endblock %}