{% extends 'base.html' %}

{% block title %}Fortunes list{% endblock %}

{% block content %}
<section id="fortunes">
{% if fortunes %}
{% for fortune in fortunes.object_list %}
    {% with fortune as fortune %}
        {% include "partials/fortune.html" %}
    {% endwith %}
{% endfor %}
{% else %}
    <p>No fortune found mathing your request.</p>
{% endif %}
</section>

{% if fortunes.has_previous or fortunes.has_next %}
<nav class="pagination">
    <ul>
        {% if fortunes.has_previous %}
        <li>
            <a href="?page={{ fortunes.previous_page_number }}">&laquo; previous</a> 
        </li>
        {% endif %}
        <li>    
            Page {{ fortunes.number }} of {{ fortunes.paginator.num_pages }} 
        </li>
        {% if fortunes.has_next %}
        <li>
            <a href="?page={{ fortunes.next_page_number }}">next &raquo;</a> 
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}