{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <h2>{% trans "Log in" %}</h2>
    
    <p>
        {% trans "Please log in using the form below." %}
        {% url registration_register as register_url %}
        {% blocktrans %}If you don't have an account yet, feel free to <a href="{{ register_url }}">create one</a>.{% endblocktrans %}
    </p>

    {% if form.errors %}
    <p class="error">{% trans "Please correct the errors below:" %}</p>
    {% endif %}

    <form method="post" action="?next={{ next|default:"/" }}">
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{% trans "Log in" %}" />
                </td>
            </tr>
        </table>
    </form>
    {% endblock %}

    {% block about %}
    <p>
        {% blocktrans %}If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.{% endblocktrans %}
    </p>
{% endblock %}