{% load fortune_extras %}

<article class="fortune" id="fortune_{{ fortune.pk }}">
    <h2>
        <a href="{{ fortune.get_absolute_url }}" title="{{ fortune.title }}">#{{ fortune.id }}. {{ fortune.title }}</a>
    </h2>
    <blockquote>
        {{ fortune.content|fortunize|safe }}
        <br style="clear:both"/>
    </blockquote>
    <aside class="fortune-infos">
        <p>
            Posted by <strong>{{ fortune.author }}</strong> {{ fortune.pub_date|timesince }} ago. 
            <span class="fortune-actions">
                <strong>{{ fortune.votes }} votes</strong> 
                <a href="{% url fortune_vote fortune.pk "down" %}" title="Vote down this fortune">-</a> / 
                <a href="{% url fortune_vote fortune.pk "up" %}" title="Vote up this fortune">+</a> 
            </span>
        </p>
    </aside>
</article>