{% load fortune_extras i18n %}

<!DOCTYPE html>
<html class="djortunes">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}{% endblock %} - Djortunes</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/screen.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/Andika-Basic-fontfacekit/stylesheet.css" />
    </head>
    <body id="djortunes">
        <header>
            <h1>
                <a href="{% url fortune_index %}">Fortunes</a>
            </h1>
            <p>
                <small>{% trans "When it's funny, it's quoted™" %}</small>
            </p>
            <nav id="menu">
                {% block navigation %}
                <ul>
                    <li class="{% ifequal section "default" %}active{% endifequal %}">
                        <a href="{% url fortune_index %}">
                            {% trans "Latest" %}
                            <small>{% trans "Recently added quotes" %}</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "top" %}active{% endifequal %}">
                        <a href="{% url fortune_index_type "top" %}">
                            {% trans "Top" %}
                            <small>{% trans "Top rated quotes" %}</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "worst" %}active{% endifequal %}">
                        <a href="{% url fortune_index_type "worst" %}">
                            {% trans "Worst" %}
                            <small>{% trans "Badly rated quotes" %}</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "new" %}active{% endifequal %}">
                        <a href="{% url fortune_new %}">
                            {% trans "Add" %}
                            <small>{% trans "Add your own quote!" %}</small>
                        </a>
                    </li>
                </ul>
                {% endblock %}
            </nav>
        </header>
        
        <div class="holder">
            <section id="main">
            {% block content %}{% endblock %}
            </section>

            {% block misc %}
            <section id="misc">
                <div class="content">
                    {% block about %}
                    <h2>{% trans "About" %}</h2>
                    <p>
                        {% trans "Fortunes is a repository of quotes. You can create an account to 
                        add your own, or get the source to install it on your own server." %}
                    </p>
                    {% endblock about %}
                    {% block contributors %}
                    <h2>{% trans "Top contributors" %}</h2>
                    {% top_contributors %}
                    {% endblock contributors %}
                </div>
            </section>
            {% endblock misc %}
        </div>
        
        <footer>
            <p>
                <small>
                    {% trans "Powered by" %} <a href="http://www.djangoproject.com/">Django</a> 
                    {% trans "and" %} <a href="http://github.com/n1k0/djortunes">djortunes</a>, 
                    {% trans "baked by" %} <a href="http://prendreuncafe.com/">NiKo</a> and 
                    {% trans "originaly inspired by" %} <a href="http://fortunes.inertie.org/">fortunes</a>, 
                    {% trans "by" %} <em>Maurice Svay</em>.
                </small>
            </p>
        </footer>
    </body>
</html>
