<!DOCTYPE html>
<html class="djortunes">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}{% endblock %} - Djortunes</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/Andika-Basic-fontfacekit/stylesheet.css" />
    </head>
    <body id="djortunes">
        <header>
            <h1>
                <a href="{% url fortunes-index "" %}">Fortunes</a>
            </h1>
            <p>
                <small>When it's funny, it's quoted™</small>
            </p>
            <nav id="menu">
                {% block navigation %}
                <ul>
                    <li class="{% ifequal section "default" %}active{% endifequal %}">
                        <a href="{% url fortunes-index "" %}">
                            Latest
                            <small>Recently added quotes</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "top" %}active{% endifequal %}">
                        <a href="{% url fortunes-index "top" %}">
                            Top
                            <small>Top rated quotes</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "worst" %}active{% endifequal %}">
                        <a href="{% url fortunes-index "worst" %}">
                            Worst
                            <small>Badly rated quotes</small>
                        </a>
                    </li>
                    <li class="{% ifequal section "new" %}active{% endifequal %}">
                        <a href="{% url fortune-new %}">
                            Add
                            <small>Add your own quote!</small>
                        </a>
                    </li>
                </ul>
                {% endblock %}
            </nav>
        </header>
        
        <div class="holder">
            <section id="main">
            {% block content %}{% endblock %}
            </section>

            {% block misc %}
            <section id="misc">
                <div class="content">
                    {% block about %}
                    <h2>About</h2>
                    <p>
                        Fortunes is a repository of quotes. You can create an account to 
                        add your own, or get the source to install it on your own server.
                    </p>
                    {% endblock about %}
                    {% block contributors %}
                    <h2>Top contributors</h2>
                    <ul>
                        <li><a href="#">niko</a></li>
                        <li><a href="#">John</a></li>
                        <li><a href="#">Bob</a></li>
                        <li><a href="#">Dude</a></li>
                        <li><a href="#">Fred</a></li>
                    </ul>
                    {% endblock contributors %}
                </div>
            </section>
            {% endblock misc %}
            <br style="clear: both" />
        </div>
        
        <footer>
            <p>
                <small>
                    Powered by <a href="http://www.djangoproject.com/">Django</a> 
                    and <a href="http://github.com/n1k0/djortunes">djortunes</a>, 
                    baked by <a href="http://prendreuncafe.com/">NiKo</a> and 
                    originaly inspired by <a href="http://fortunes.inertie.org/">fortunes</a>, 
                    by <em>Maurice Svay</em>.
                </small>
            </p>
        </footer>
    </body>
</html>
